---
layout: default
title: Home
updated: 2026-08-20 09:00:00 +0200
---

<p>
I'm Rin, an EMT and software developer. I enjoy building things and helping people. Sometimes, I trail race and bikepack. 
</p>
<p>My <a href="https://en.wikipedia.org/wiki/Special_interest_(autism)">special interests</a> are birds and birdwatching :-) .</p>

<p>Painting workflow: Cintiq + Clip Studio Paint
  <br>Shooting: Nikon Zfc + Nikkor 35mm f/1.8
  <br>Current read: East of Eden 
</p>
<!-- {% for category in site.categories %}
  {% assign cat = category | first %}
  <h3>New {{ cat }}</h3>
  <ul>
  {% for post in site.categories[cat] limit:2 %}
    {% unless post.draft %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endunless %}
  {% endfor %}
  </ul>
{% endfor %} -->
